---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <span class="logo" aria-hidden="true">⬣</span>
    <h1>Nexus Data Labs</h1>

    <p>Protocols create <em>Systems</em>. Code creates <em>Tools</em>.</p>
    <p>Data creates <em>Knowledge</em>. Data drives <em>Coordination</em>.</p>
    <p>We help people <em>coordinate better using data</em>.</p>

    <nav aria-label="Primary">
        <ul class="button-list">
            <li>
                <a
                    class="button-link"
                    href="https://github.com/nexusdatalabs"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    GitHub
                </a>
            </li>
            <li>
                <a class="button-link" href="mailto:davidgasquez@gmail.com">
                    Email
                </a>
            </li>
        </ul>
    </nav>
</Layout>
