---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nexus Data Labs">
	<main>
		<h1>Nexus Data Labs</h1>

		<p>
			Protocols create Systems. Code creates Tools.
			<br />
			Data creates Knowledge and drives Coordination.
		</p>

		<p>
			Nexus helps you <strong>coordinate better</strong>
			with <strong>better data</strong>.
		</p>
	</main>
</Layout>
