---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
		background: #343a40;
		line-height: 1.4;
		font-family: Inter, sans-serif;
		font-size: 22px;
		color: #f1f3f5;
		padding: 0 10px;
		margin: 40px auto;
		max-width: 600px;
	}

	h1 {
		font-size: 3em;
		color: #ff6b6b;
		font-family: "Courier New", Courier, monospace;
		font-weight: 400;
	}
</style>
