---
import Head from "../components/Head.astro"
import "../styles/global.css"

interface Props {
    title?: string
    description?: string
    canonicalUrl?: string
    noindex?: boolean
}

const {
    title = "Nexus Data Labs | Coordination Through Data",
    description = "Helping people coordinate better making data easy to use.",
    canonicalUrl = Astro.url.pathname,
    noindex = false,
} = Astro.props
---

<html lang="en">
    <head>
        <Head
            title={title}
            description={description}
            canonicalUrl={canonicalUrl}
            noindex={noindex}
        />
    </head>
    <body>
        <a class="skip-link" href="#main-content">Skip to content</a>

        <main id="main-content" tabindex="-1">
            <slot />
        </main>
    </body>
</html>
